

margin: 12px auto 6px auto; 
font-family: Helvetica,Arial,Sans-serif; 
font-style: normal; 
font-variant: normal; 
font-weight: normal; 
font-size: 14px; 
line-height: normal; 
font-size-adjust: none; 
font-stretch: normal; 
-x--font: none; 
display: block; ">